{% extends "base.html" %}
{% load markup %}

{% block style %}
<link href="/static/styles/markup.css" rel="stylesheet" type="text/css">
<link href="/static/styles/pygments.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {{ content|restructuredtext }}
{% endblock %}

{% block sidebar %}
<h3>History</h3>

<p>
    {% for i in history %}
    <div style="margin: 5px 0px 5px 0px;">
        <a href="/wiki/{{ path }}/{{ i.id }}/">{{ i.message }}</a><br />
        <div style="font-size: .85em; color: #888888;">
            <span style="font-weight: bold;">Author:</span> {{ i.author }}<br />
            <span style="font-weight: bold;">Date:</span> {{ i.date }}<br />
        </div>
    </div>
    {% endfor %}
    </ul>
</p>

{% endblock %}

