<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        {% block head %}
        <title>cream desktop » {% block title %}{{ title }}{%endblock%}</title>
        <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
        {% block style %}
        {% endblock %}
        {%endblock%}
    </head>
    <body>
        <div id="page">
            <div id="header">
                <ul id="navigation">
                    {% for page in pages %}
                        <li><a href="{{ page.destination }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div class="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="end"></div>
{% block dialogs %}
{% endblock %}

    </body>
</html>
