body {
    margin: 0px;
    padding: 0px;

    background-color: #cccccc;

    color: #444444;
    font-size: 12px;
    }

a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
    }

a img {
    border: 0;
}

#page {
    width: 1000px;
    margin: 0px auto 0px auto;

    background-image: url(/static/images/background.png);
    }

#page > #header {
    height: 118px;
    margin: 0px 5px 0px 5px;

    background-image: url(/static/images/banner.png);
    border-bottom: 1px solid #888888;

    text-align: center;
    font-size: .9em;
    color: #888888;
    }

#page > #header > #navigation {
    float: right;
    margin: 0px 20px 0px 0px;
    padding: 10px 8px 10px 8px;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

    background: -webkit-gradient(linear, left 0%, left 100%, from(rgba(250, 250, 250, .9)), to(rgba(200, 200, 200, .8)));
    background: -moz-linear-gradient(top center, rgba(250, 250, 250, .9), rgba(200, 200, 200, .8));

    -webkit-box-shadow: 0px 0px 5px rgba(1, 1, 1, .7);
    -moz-box-shadow: 0px 0px 5px rgba(1, 1, 1, .7);

    color: #555555;
    font-size: 1.1em;
    word-spacing: .5em;
}

#page > #header > #navigation li{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
}

#page > #header > #navigation li a:hover {
    text-decoration: underline;
}

#footer {
    margin: 0px 5px 0px 5px;
    padding-top: 15px;

    background-color: #efefef;
    border-top: 1px solid #dadada;

    text-align: center;
    font-size: .9em;
    color: #888888;
    }

#content {
    float: left;
    width: 720px;
    min-height: 300px;
    margin: 0px 5px -9px 5px;
    padding: 20px 15px 30px 15px;

    background-color: #ffffff;
    border-right: 1px solid #dadada;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    }

.sidebar {
    margin-right: 5px;
    padding: 5px 5px 5px 0px;
    float: right;
    width: 225px;
    }

#end {
    width: 1000px;
    height: 15px;
    margin: 0px auto 0px auto;

    background-image: url(/static/images/end.png);
    }
