.codeblock {
    margin: 5px 10px 5px 10px;
    padding: 10px;

    background-color: #fafafa;

    border-top: 1px solid #d7e1ae;
    border-bottom: 1px solid #d7e1ae;
    }

.codeblock pre {
    margin: 0px;
    }
